<!-- Service -->
<!-- <app-purchases></app-purchases> -->
<!-- <app-data></app-data> -->
<!-- <app-form></app-form> -->
<!-- <app-user></app-user> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-http-client></app-http-client> -->


<!-- <div class="page-header">
  <h1> name: {{name}} </h1>
  <p>age: {{age}}</p>
  <input type="number" [(ngModel)]="age" />
</div>
<app-child [userAge]="age" [(userName)]="name"  (onChanged)="onChanged($event)">
  <p>hey</p>
</app-child>
<h2> number of clicks {{clicks}}</h2>

<h2>two way binding</h2>
<div> name: {{name}}</div> -->

<!-- <h2>template</h2>

<p #clientName>{{name}}</p>
<p>{{clientName.textContent}}</p>
<input type="text" [(ngModel)]="name"/> -->

<!-- <app-user #counter></app-user>
<button type="button" (click)="counter.increment()">+</button>
<button type="button" (click)="counter.decrement()">-</button> -->

<!-- <app-user></app-user>
<button type="button" (click)="increment()">+</button>
<button type="button" (click)="decrement()">-</button>

<p #nameText> {{name}}</p>
<p> {{nameText.textContent}}</p>
<button type="button" (click)="change()">change</button> -->

<!-- <app-user>
  <h3 #headerContent>Welcome {{name}}</h3>
</app-user>

<app-data></app-data> -->

<!-- <div>
  <p bold>Directive bold</p>
  <p>jo</p>
</div>

<div>
  <p bold selectedSize="28px" [defaultSize]="'16px'">Directive bold</p>
  <p>change size</p>
</div> -->


<!-- <p *ngIf="condition">Hello fox!</p>
<p *ngIf="!condition">Buy fox!</p>
<button type="button" (click)="toggle()">switch</button> -->
<!-- <div>
  <p *ngIf="condition; else unset">Hello fox!</p>
  <ng-template #unset>
    <p >Buy fox!</p>
  </ng-template>
  
  <button type="button" (click)="toggle()">switch</button>
</div> -->


<!-- <div>
  <div *ngIf="condition; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <p >Hey fox!</p>
  </ng-template>
  <ng-template #elseBlock>
    <p >Thanks fox!</p>
  </ng-template>
  
  <button type="button" (click)="toggle()">switch</button>
</div> -->

<!-- <ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul> -->

<!-- <div [ngSwitch]="count">
  <ng-template ngSwitchCase="1">{{count*10}}</ng-template>
  <ng-template ngSwitchCase="2">{{count*100}}</ng-template>
  <ng-template ngSwitchDefault>{{count*1000}}</ng-template>
</div> -->

<!-- Structure Directive -->
<!-- <p *while="condition">First paragraph</p>
<p *while="!condition">Second paragraph</p>
<button type="button" (click)="toggle()">Toggle</button> -->
<div>
  <h1>Routing</h1>
  <nav>
    <a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{exact: true}">Main</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a [routerLink]="['item', '5']" [queryParams]="{'product': 'phone', 'price': '100'}">item 5</a>
    <a [routerLink]="['item', '3']" [queryParams]="{'product': 'tablet', 'price': '300'}">item 3</a>
  </nav>
  <router-outlet></router-outlet>
  <button (click)="goHome()">Main</button>
</div>

<div class="form-group">
  <h4>Parametrs</h4>
  <input type="number" [(ngModel)]="item.id" class="form-control" placeholder="id"/> <br/>
  <input type="number" [(ngModel)]="item.price" class="form-control" placeholder="price"/><br/>
  <input [(ngModel)]="item.product" class="form-control" placeholder="product"/><br/>
  <button (click)="goToItem(item)" class="btn">Go</button>

</div>
